<template>
  <div class="todos">
    <h2>todos gestion ... 555</h2>
    <FormAddTodo />
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>titre</th>
          <th>Description</th>
          <th>date cible</th>
          <th>date creation</th>
          <th>fait ?</th>
          <th>Edit</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="todo in allTodos" :key="todo.id">
          <td>{{ todo.id }}</td>
          <td>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>
          <td>{{ todo.dateTarget }}</td>
          <td>{{ todo.dateCreation }}</td>
          <td>{{ todo.completed }}</td>
          <td><a @click="edit(todo)">edit</a></td>
          <td><a @click="supprimer(todo)">supprimer</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from "vuex";
import FormAddTodo from "@/components/molecules/FormAddTodo.vue";
export default {
  data() {
    return {};
  },
  components: { FormAddTodo },
  methods: {
    ...mapActions("todos", ["fetchTodos", "deleteTodos"]),
    supprimer(todo) {
      this.$bvModal
        .msgBoxConfirm(
          `est vous sur de vouloir supprimer cette tache ? \n ID : ${todo.id} `
        )
        .then(async (value) => {
          if (value) {
            await this.deleteTodos(todo);
            await this.fetchTodos();
          }
        })
        .catch((err) => {
          // An error occurred
          throw (" error in @removeMovie ", err);
        });
    },
  },
  /* --- computed ---- */
  computed: {
    ...mapState("todos", ["todos"]),
    ...mapGetters("todos", ["allTodos"]),
  },
  /* --- LIFE CYCLE --- */
  watch: {},
  created() {
    this.fetchTodos();
    console.log("@cycle/created");
  },
  mounted() {
    console.log("@cycle/mounted");
  },
  updated() {
    // this.dataTodos = this.todos;
  },
};
</script>

<style></style>
