<template>
  <div class="users">
    users >> {{ allUsers }}

    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>role</th>
          <th>birthday</th>
          <th>Edit</th>
          <th>delete</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in allUsers" :key="user.id">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.role }}</td>
          <td>{{ user.birthday }}</td>
          <td><a @click="edit(user)">edit</a></td>
          <td><a @click="supprimer(user)">supprimer</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {};
  },
  methods: {
    ...mapActions("users", ["fetchUsers"]),
  },
  /* --- computed ---- */
  computed: {
    ...mapGetters("users", ["allUsers"]),
  },
  created() {
    this.fetchUsers();
    console.log("created");
  },
};
</script>

<style scoped lang="scss"></style>
