<template>
  <main class="home page">
    <b-container>
      <h2>page home</h2>
      <LandingCarousel />
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa fugit
        nesciunt rem. Minus, necessitatibus exercitationem iste deleniti totam
        hic tempora quia perferendis placeat eum omnis, nisi ducimus laudantium
        eos facilis.
      </p>
    </b-container>
  </main>
</template>

<script>
//  lang="ts" : import { Component, Vue } from "vue-property-decorator";
import LandingCarousel from "@/components/molecules/LandingCarousel.vue"; // @ is an alias to /src

export default {
  components: { LandingCarousel },
};
/*
@Component({
  components: { LandingCarousel },
})
export default class HomeView extends Vue {}*/
</script>

<style scoped lang="scss"></style>
