<template>
  <main class="test page">
    <b-container>
      <h2>page tests</h2>
      <b-row>
        <article class="col">
          <Users />
        </article>
        <article class="col-md-6">
          <h2>compteur</h2>
          <em> tags : </em>
          <Compteur />
          <hr />
          <Compteur :step="3" :limitMin="0" :limitMax="20" />
        </article>
        <article class="col-md-6">
          <FormContact />
        </article>
        <article class="col"><Todos /> <br /></article>
      </b-row>

      <div>
        <p v-for="i in 1" :key="i">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
          soluta laborum, velit repellat, ex consequuntur eos aspernatur
          nesciunt harum vel dignissimos ratione quam aliquid. Eius aliquam hic
          veniam! Obcaecati, deserunt!
        </p>
      </div>
    </b-container>
  </main>
</template>

<script>
import Compteur from "@/components/molecules/Compteur.vue";
import Users from "@/components/organismes/Users.vue";
import FormContact from "@/components/molecules/FormContact.vue";
import Todos from "@/components/organismes/Todos.vue";

export default {
  components: { FormContact, Todos, Compteur, Users },
};
</script>

<style scoped lang="scss">
article {
  padding: $gutter-half;
  margin-bottom: $gutter-half;
  border: $border-default;
}
</style>
