<template>
  <div class="compteur">
    <button class="btn btn-success" @click="decrementation">-</button>
    <input type="text" v-model="compteurValue" />
    <button class="btn btn-success" @click="incrementation">+</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      compteurValue: 0,
    };
  },
  props: {
    step: {
      type: Number,
      default: 10,
    },
    limitMin: {
      type: Number,
      default: -Infinity,
    },
    limitMax: {
      type: Number,
      default: Infinity,
    },
  },
  methods: {
    incrementation() {
      if (this.compteurValue >= this.limitMax) {
        return;
      }
      this.compteurValue += this.step;
    },
    decrementation() {
      if (this.compteurValue <= this.limitMin) {
        return;
      }
      this.compteurValue -= this.step;
    },
  },
};
</script>

<style lang="scss">
.compteur {
}
</style>
