<template>
  <div id="app">
    <Header />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import Header from "./components/organismes/Header.vue";
import Footer from "./components/organismes/Footer.vue";
export default {
  components: {
    Header,
    Footer,
  },
};
</script>

<style lang="scss">
/* this comment must exist : for applying others scss !!!!! */
</style>
